---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---


@charset "utf-8";

$primary-color: #4E7EDE;
$link-color: $primary-color;
$link-color-visited: $link-color;

$intro-transition  : none;
$global-transition : none;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.sidebar {
    a {
        color: $text-color;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

a.nocolor {
    color: $text-color;
}

.schedule {
    td {
        padding: 1em;
    }

    thead {
        background-color: $primary-color;
    }

    td.schedule-start {
        font-weight: bold;
        text-align: right;
    }

    tr.schedule-break {
        background-color: $form-background-color;
        td.schedule-title {
            text-align: center;
        }
    }

    tr.schedule-talk {
        td.schedule-title {
            font-weight: bold;
            a {
                color: $text-color;
            }
        }
    }
}

.page__footer-copyright {
    display: none;
}