---
layout: single
---

<small>
    <i class="far fa-arrow-alt-circle-left"></i> <a class="nocolor" href="{{ '/schedule/' | relative_url }}">Zurück zum Fahrplan</a>
</small>

{% assign session = site.sessions | where_exp: "item", "item.id == page.id" | first %}
{% if session.public %}
<div class="notice session-notice">
    {% if session.day %}
    <span class="session-item">
        <i class="far fa-calendar"></i> <time datetime="{{ session.day }}">{{ session.day | date: "%d.%m.%Y"}}</time>
        {% if session.start %}
        </span><span class="session-item">
        <i class="far fa-clock" ></i> {{ session.start }}
        {% endif %}
    </span>
    {% endif %}
    {% if session.lang %}
    <span class="session-item">
        <i class="fas fa-globe"></i> {{ session.lang }}
    </span>
    {% endif %}
    {% if session.remote %}
    <span class="session-item">
        <i class="fas fa-laptop-house"></i> Remote
    </span>
    {% else %}
    <span class="session-item">
        <i class="fas fa-map-marker-alt"></i> Im LABOR
    </span>
    {% endif %}
    {% if session.speakers %}
    <span class="session-item">
        <i class="far fa-user"></i> {{ session.speakers | join: ", " }}
    </span>
    {% endif %}
    {% if session.do_not_stream == false %}
    <span class="session-item">
        <i class="fas fa-video"></i> Wird gestreamed
    </span>
    {% endif %}
    {% if session.do_not_record == false %}
    <span class="session-item">
        <i class="fas fa-file-video"></i> Wird aufgenommen
    </span>
    {% endif %}
</div>

{% if session.desc %}
{{ session.desc | markdownify }}
{% else %}
{{ session.short | markdownify }}
{% endif %}

{% endif %}{% comment %}session.public{% endcomment %}